<%= simple_form_for @engineer, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :fullname %>
  <%= f.input :dependency %>
  <%= f.input :studies %>
  <%= f.input :proyect_id %>
  <div class="form-actions">
    <%= f.button :submit, 'Crear ingeniero', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancelar")),
                engineers_path, :class => 'btn' %>
  </div>
<% end %>
